<div class='absolute rop-0 left-0'>
  <div class='relative'>
    <div class='rounded bg-accents-brown h-3 w-3 absolute z-10 top-2 left-1.5'></div>
    <div class='rounded bg-accents-brown h-3 w-3 absolute z-10 top-10 left-1.5'></div>
    <div class='rounded bg-accents-brown h-3 w-3 absolute z-10 top-18 left-1.5'></div>
    <div class='rounded bg-accents-brown h-3 w-3 absolute z-10 top-26 left-1.5'></div>
    <div class='rounded bg-accents-brown h-3 w-3 absolute z-10 top-34 left-1.5'></div>
    <div class='rounded bg-accents-brown h-3 w-3 absolute z-10 top-42 left-1.5'></div>
    <div class='rounded bg-accents-brown h-3 w-3 absolute z-10 top-50 left-1.5'></div>
    
    <div class='bg-bright-brown rounded-xs h-2 w-6 absolute z-20 top-[10px] -left-3'></div>
    <div class='bg-bright-brown rounded-xs  h-2 w-6 absolute z-20 top-[42px] -left-3'></div>
    <div class='bg-bright-brown rounded-xs h-2 w-6 absolute z-20 top-[74px] -left-3'></div>
    <div class='bg-bright-brown rounded-xs  h-2 w-6 absolute z-20 top-[106px] -left-3'></div> 
    <div class='bg-bright-brown rounded-xs h-2 w-6 absolute z-20 top-[138px] -left-3'></div>
    <div class='bg-bright-brown rounded-xs  h-2 w-6 absolute z-20 top-[170px] -left-3'></div> 
    <div class='bg-bright-brown rounded-xs h-2 w-6 absolute z-20 top-[202px] -left-3'></div>
  </div>
</div>
