<div id='notification_bell'>
  <% if current_user.notifications.unseen.any? %>
    <div class='relative pl-10'>
      <%= image_tag 'icons/bell.svg', width: '26px' %>
      <div class='rounded-full bg-accents-red w-5 h-5 absolute -top-1 -right-1 flex justify-center items-center'>
        <div class='text-primary-white text-xs font-semibold'>
          <%= current_user.notifications.unseen.count %>
        </div>
      </div>
    </div>
  <% else %>
    <%= link_to [:user, :notifications], class: 'flex' do %>
      <div class='pl-10'>
        <%= image_tag 'icons/bell.svg', width: '26px' %>
      </div>
    <% end %>
  <% end %>
</div>