/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require animate.min.css
 *= require swiper-bundle.min.css
 *= require utils/tippy.min.css
 */

.swiper-pagination-bullet-active {
  background-color: #162035 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet {
  background-color: #162035 !important;
}

.swiper-pagination-bullet:last-child {
  margin-right: 0 !important;
}

.swiper-button-next::after {
  content: none !important;
}

.swiper-button-prev::after {
  content: none !important;
}

.swiper-button-disabled {
  display: none !important;
}
