<%= simple_form_for :journal, url: [:assign_author, :user, @journal], html: { class: 'flex flex-col gap-5', id: 'author-form' } do |f| %>
  <%= f.input :email, input_html: { value: nil }, hint: 'Please enter user email' %>
  <div class='flex justify-end mt-8'>
    <%= f.submit 'Save', class: 'btn-base' %>
  </div>
<% end %>
